:root{
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 1.5px;
}
a{
  text-decoration: none ; 
}
body{
    background-color: black;
    top: 0;
}
.main{
    font-family:var(--font);
    font-weight: 100;
    font-size: 16px;
    padding: 10px;
    color: aliceblue;
}
.textbar{
    background: transparent;
    position: absolute;
    color: aliceblue;  
    width: 50%;
    display: inline-block;
    border: none;
    font-family: inherit;
    letter-spacing: inherit;
    font-size: 16px;
    animation: blinker 1s linear delay infinite;
    
}
@keyframes blinker {
    50%{
    opacity:0;
    }
}
.textbar:focus{
    outline: none;
}
.match{
    display: inline;
    padding-left: 2px;
    padding-right: 10px;
}
@media (max-width:400px){
    :root{
        font-size: 10px;
    }
}